:root{
    --branco: white;
    --cor-de-fundo: #00162E;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
    --cor-foot:  #333;
}

.titulo {
    font-size: 10px;
    color: var(--fundo-texto);
}

.normal {
    font-size: 5px;
    color: var(--fundo-texto);
}

header {
    background: url('Imagem/Oportunidades-de-Negócio.jpg') no-repeat center center;
    background-size: cover; 
    color: var(--cor-de-fundo); 
    padding: 2rem 1rem;
    text-align: center;
    position: relative; 
}

header h1 {
    margin: 0;
    position: relative; 
    z-index: 1; 
    font-size: 10rem;
}

footer {
    text-align: center;
    padding: 1rem;
}

nav {
    position: relative; 
    z-index: 1; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0.5rem 1rem;
}

nav ul li a {
    color: #000; 
    text-decoration: none;
    font-size: 6px;
}

@media (max-width: 768px) {
    header {
        padding: 1.5rem 1rem;
    }

    header h1 {
        font-size: 6rem;
    }

    nav ul li a {
        font-size: 6rem;
    }
}

body {
    margin: 20px;
    padding: 20rem;
}